* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #030303;
    position: fixed;
    display: flex;
    height: 65px;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

header a {
    color: #FFF;
}

#menu ul li{
    float: left;
    padding: 0 15px;
}

#menu ul li a:hover{
    color: #16DCF2;
}

.hamburger-menu {
    font-size: 24px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.bar {
    width: 28px;
    height: 3px;
    background: #FFF;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger-menu:hover .bar{
    background: #1C9BE6;
}

#header-nav.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#header-nav.active .bar:nth-child(2) {
    opacity: 0;
}

#header-nav.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

main {
    margin-top: 65px;
}

section {
    min-height: calc(100vh - 65px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

h1 {
    font-size: 28px;
    color: #1C9BE6;
}

#photo {
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
}

#menu-home {
    margin-bottom: 12px;
}

#menu-home ul,
footer ul {
    display: inline-block;
}

#menu-home ul li,
footer ul li {
    float: left;
    padding: 0 20px;
}

.fa-brands, .fa-solid {
    font-size: 30px;
    color: #000;
    transition: color 0.3s, transform 0.3s;
    margin: 0 7px; 
    margin-top: 20px;
}
.fa-brands:hover, .fa-solid:hover {
    color: #1C9BE6; 
    transform: scale(1.2); 
}

#aboutMe{
    background:  url("../img/papelFundo.jpg") no-repeat center;
    background-size: cover;
}

.box {
    max-width: 750px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.box h1 {
    color: #1C9BE6;
    margin: 10px 0;
    font-size: 28px;
}

.box p {
    color: #FFF;
    padding: 0 12px;
}

.skill-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.skill-item {
    margin: 20px; 
    text-align: center;
    transition: 0.3s;
}

.skill-item img {
    width: 80px;
}

footer {
    border-top: 1px solid #030303;
    text-align: center;
    padding: 20px 0;
}

footer div {
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    #menu ul {
        display: none;
        flex-direction: column; 
        align-items: center; 
        position: absolute;
        top: 58px; 
        left: 0;
        width: 100%;
        background-color: #030303;
        border-top: 1px solid #FFF;
    }

    #menu.active ul {
        display: flex;
    }

    #menu ul li {
        margin: 10px 0; 
    }

    .hamburger-menu:hover .bar{
        background: #1C9BE6;
    }

    .fa-brands:hover, .fa-solid:hover {
        color: #000; 
        transform: none; 
    }

    .skill-row {
        grid-template-columns: repeat(2, 1fr); 
    }

    .skill-item img {
        width: 60px;
    }
}